.informer {

}

.informer_border_all {
    border: 3px solid var(--color-bg-border);
}
.informer_view_default {
    background-color: var(--color-bg-default);
}
.informer__content {
    display: flex;
}
.informer__content_distribute_center {
    justify-content: center;
}
.informer__content_distribute_between {
    justify-content: space-between;
}
.informer__content_space-a_xl {
    padding: calc(var(--space-xl)*1px);
}
.informer__content_space-a_xxl {
    padding: calc(var(--space-xxl)*1px);
}

.informer__action {
    display: flex;
}
.informer__action_distribute_center {
    justify-content: center;
}
.informer__action_distribute_between {
    justify-content: space-between;
}
.informer__action_space-a_xl {
    padding: calc(var(--space-xl)*1px);
}
.informer__action_space-a_xxl {
    padding: calc(var(--space-xxl)*1px);
}
