.layout__container_align_center {
    margin-left: auto;
    margin-right: auto;

}
.layout__container_size_s {
    max-width: 920px;
}
.layout__container_size_m {
    max-width: 1280px;
}

.layout__container_space-v_xxxxl {
    padding-left: calc(var(--space-xxxxl)*1px);
    padding-right: calc(var(--space-xxxxl)*1px);
}

.layout__container_space-v_xxxxxl {
    padding-left: calc(var(--space-xxxxxl)*1px);
    padding-right: calc(var(--space-xxxxxl)*1px);
}

.layout__container_indent-b_xxl {
    margin-bottom: calc(var(--space-xxl)*1px);
}

.layout__container_indent-b_xxxxl {
    margin-bottom: calc(var(--space-xxxxl)*1px);
}
.layout__container.theme_color_project-inverse {
    background: var(--color-bg-default);
}
@media (max-width: 1024px) {
    .layout__container_align_center {
        margin: 0
    }
}
