.warning {
    min-height: 335px;
}
.warning .placeholder {
    margin-top: calc(var(--space-m)*1px);
    margin-bottom: calc(var(--space-m)*1px);
}

.warning__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.warning__content .text_size_xl {
    font-size: 0;
}
.warning__button-wrapper {
    margin-top: 4px;
}
@media (max-width: 1024px) {
    .warning__button-wrapper.informer__action_space-a_xl {
        padding-top: 41px;

    }
}
