.warning {
    min-height: 335px;
}
.warning .placeholder {
    margin-top: calc(var(--space-m)*1px);
    margin-bottom: calc(var(--space-m)*1px);
}

.warning__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.warning__button-wrapper {
    margin-top: 4px;
}
