.payment {
    border: 3px solid;
    box-sizing: border-box;
}
.payment__content {
    flex-direction: column;
}
.payment__footer .form__control {
    display: flex;
    justify-content: flex-end;
}
.payment__header .text_size_xxl .text__word {
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 10px;
}
.payment__header.form__header {
    padding-bottom: calc(var(--space-l) * 1px);
}
.payment__content .form__item_space-v_xxxl {
    padding-top: var(--space-xxxl);
    padding-bottom: var(--space-xxxl);
}
.payment__content .text_size_l .text__word {
    margin: 8px 0 10px 0;
}
.payment__content .form__item_indent-b_xl:last-child {
    margin-bottom: 0;
}
.payment__footer .text_size_l .text__word {
    margin: 8px 0 10px 0;
}
