.grid {
    display: grid;
}
@media (min-width: 1024px) {
    .grid_m-columns_10 {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    .grid_m-columns_12 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .grid__fraction_m-col_2 {
        grid-column: span 2;
    }
    .grid__fraction_m-col_3 {
        grid-column: span 3;
    }
    .grid__fraction_m-col_4 {
        grid-column: span 4;
    }
    .grid__fraction_m-col_5 {
        grid-column: span 5;
    }
    .grid__fraction_m-col_8 {
        grid-column: span 8;
    }
}

.grid_col-gap_full {
    grid-column-gap: calc(var(--gap)*1px);
}
.grid_col-gap_two-thirds {
    grid-column-gap: calc(var(--gap)/3*2px);
}
.grid_col-gap_half {
    grid-column-gap: calc(var(--gap)/2*1px);
}
.grid_row-gap_full {
    grid-row-gap: calc(var(--gap)*1px);
}
.grid_row-gap_half {
    grid-row-gap: calc(var(--gap)/2*1px);
}

