.product {
    min-height: 294px;
    border: 3px solid;
}
.product {
    height: 160px;
}
.product.card {
    border: 3px solid;
}
.product__image .image {
    height: 160px;
}
.product__footer.card__footer {
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
