.input {
    border: 0;
    padding: 0;
    flex-grow: 1;
    border: 3px solid var(--color-bg-border);
    box-sizing: border-box;
}
.input_size_s .input__control {
    height: 18px;
}
.input_size_m {
    height: 26px;
}
.input_size_l {
    height: 42px;
}
.input_size_xl {
    height: 56px;
    width: 100%;
}
.input_size_xxl {
    height: 64px;
    width: 100%;
}
