.input {
}
.input .input__box {
    display: flex;
}
.input__box .input__control {
    width: 100%;
    border: 3px solid;
    padding: 0;
    margin: 0;
}
.input_size_s .input__control {
    height: 18px;
}
.input_size_m {
    height: 26px;
}
.input_size_l .input__control {
    height: 36px;
}
.input_size_xl {
    height: 56px;
    width: 100%;
}
.input_size_xxl {
    height: 64px;
    width: 100%;
}
