.placeholder {
    background-color: var(--color-text-primary);
}
.placeholder_size_m {
    height: 72px;
    width: 72px;
}
.placeholder_view_primary {
    background-color: var(--color-text-primary);
}
